/* BODY */

body {
    margin: 0px;
    background-color: #f6f9fa;
    /* fills whole screen */
}

.createproject-form-background {
    border-radius: 15px;
    background-color: white;
    border: 18px solid white;
    ;
}


/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0;
    width: 25%;
    background-color: #1b3d6d;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 95%;
    padding-right: 10%;
    font-size: large;
}

.sidebar .nav-link.active {
    color: #000;
    background-color: #eeec67;
    border-radius: 10px;
}

.sidebar .nav-link {
    color: #ffffff;
}

.sidebar .setting-link.active {
    position: fixed;
    top: 611px;
    left: 41px;
    color: #000;
    background-color: #eeec67;
    padding-left: 17px;
    padding-right: 210px;
    padding-top: 7.75px;
    padding-bottom: 7.75px;
}

.sidebar .setting-link {
    color: #ffffff;
    padding-left: 15%;
    text-decoration: none;
    font-size: large;
}


/* NAVIGATION BAR */

.notification {
    color: white;
    height: 60px;
}

.navbar-top {
    display: flex;
    background-color: #ffffff;
    height: 60px;
}

.navbar-topleft {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0064a4;
    width: fit-content;
    height: 60px;
    position: fixed;
}

.ics_logo {
    max-width: 100%;
    max-height: 100%;
    background-color: #0064a4;
    border: 20px solid #0064A4;
}

.navbar-topright {
    width: 100%;
    height: 68px;
    padding: 15px 15px;
    border-bottom: inset transparent;
    display: inline-block;
    right: 0px;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
    /* margin-left: auto; */
}

.navbar_search {
    position: fixed;
    left: 80%;
    padding: 5px 5px;
}


/* CREATE PROJECT - SIDEBAR2 */

.createproject-sidebar2 {
    position: fixed;
    top: 68px;
    border: 5px solid #f6f9fa;
    bottom: 0;
    left: 80%;
    width: 25%;
    background-color: #f6f9fa;
}

.previewbutton {
    background-color: #ffffff;
    color: #0064A4;
    cursor: pointer;
    padding: 6px 13px;
    width: 37%;
    border: outset #0064A4;
    text-align: middle;
    outline: none;
    font-size: 17px;
    border-radius: 8px;
    letter-spacing: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.savebutton {
    background-color: #0064A4;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 15px;
    width: 35%;
    border: none;
    text-align: middle;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    letter-spacing: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* MAIN BODY */

.main-body {
    margin-left: 28%;
    margin-top: 40px;
    margin-right: 22%;
    /*background-color: #f6f9fa;*/
}

.title-box-create-project {
    margin-left: 2%;
    text-align: center;
}

.title-box-cpage {
    width: 100%;
}

.main-media-body {
    margin-left: 28%;
    margin-top: 15px;
    margin-right: 5%;
}

.media-form {
    background-color: #edf5fa;
    border: 15px solid #edf5fa;
}

.collapsible {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #edf5fa;
    color: #1a609e;
    cursor: pointer;
    /* padding-top: 18px;
    padding-bottom: 18px; */
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 700;
}

.replacebutton {
    background-color: #f6f9fa;
    color: #0064A4;
    cursor: pointer;
    padding: 0px;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #e8f3f8;
}

.active,
.collapsible:link {
    background-color: #e8f3f8;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content {
    padding: 18px;
    display: active;
    overflow: hidden;
    background-color: #edf5fa;
}


/* create project - project description */

.form-control {
    height: 125px;
}


/* create project - course & quarter/year dropdown */

.createproject-descrip-dropdown {
    background-color: #e8f3f8;
    z-index: 12;
    padding: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.createproject-course-dropdown {
    background-color: #e8f3f8;
    z-index: 12;
    padding: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.createproject-qy-dropdown {
    background-color: #e8f3f8;
    z-index: 12;
    padding: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.createproject-link-dropdown {
    background-color: #e8f3f8;
    z-index: 12;
    padding: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* PROJECTS.HTML */

.addprojectbutton {
    position: absolute;
    right: 70px;
    background-color: #0064A4;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    /* width: 35%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
}

.projects-body-filters {
    font-size: 20px;
}

.projects-dept-dropdown {
    padding-left: 5%;
}

.projects-course-dropdown {
    padding-left: 5%;
}

.projects-q-dropdown {
    padding-left: 5%;
}

.projects-y-dropdown {
    padding-left: 5%;
}

.submitfilterbutton {
    position: absolute;
    right: 10%;
    background-color: #0064A4;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    /* width: 35%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
}

.dropdown {
    background-color: #e8f3f8;
    z-index: 12;
    padding: 18px;
}


/*https://www.w3schools.com/html/html_youtube.asp*/

.videoLink {
    display: inline-block;
    padding: 15px;
    /*z-index: -1;*/
}


/* DASHBOARD - BANNER */

.dashboard-banner {
    background-color: #d2dde3;
    /* width: 100%; */
}


/* DASHBOARD - SIDEBAR 2 */

.dashboard-sidebar2 {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 80%;
    width: 25%;
    background-color: #f6f9fa;
}


/* DASHBOARD - CALENDAR */

.dashboard-calendar {
    width: 250px;
    height: 250px;
}

.month {
    /* padding: 20px 20px; */
    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* width: 100%; */
    /* height: 50px; */
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.month ul li {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 10px;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

form {
    /* suppose to be #edf5fa */
    background-color: #ffffff;
    border: 18px solid #ffffff;
}