
/* BODY */

body {
  margin : 0px;   /* fills whole screen */
  
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 0;
  width: 25%; 
  background-color: #1b3d6d;
}


.sidebar .nav-link.active {
  color:#000;
  background-color: #eeec67;
}

.sidebar .nav-link {
  color: #ffffff;
}

.sidebar .setting-link{
  color: #ffffff;
  
}



/* NAVIGATION BAR */

.navbar-top {
  display: flex;
}

.navbar-topleft {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #0064a4;
  width: fit-content;
  height: 50px;
  border-bottom: outset;
}

/* ics logo */ 
.ics_logo {
  width: 300px;
	height: 30px;
	margin: 10px;
}

.navbar-topright {
  width: 100%;
  padding: 15px 15px;
  border-bottom: inset;
  display: inline-block; 
  right: 0px;
  /* margin-left: auto; */
} 

/* TO DO: FIGURE OUT HOW TO MOVE SEARCH BAR TO THE RIGHT */
.navbar_search {
  position: fixed;
  left: 80%;
  padding: 5px 5px;
}

/* SIDEBAR2 */

.sidebar2 {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 80%;
  width: 25%; 
  background-color: #acabab;
}





/* MAIN BODY */
.main-body {
  margin-left: 28%;
  margin-top: 15px;
}

