/* BODY */

body {
    margin: 0px;
    background-color: #f6f9fa;
    /* fills whole screen */
}


/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    width: 25%;
    background-color: #1b3d6d;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 95%;
    padding-right: 10%;
    font-size: large;
}

.sidebar .nav-link.active {
    color: #000;
    background-color: #eeec67;
}

.sidebar .nav-link {
    color: #ffffff;
}

.sidebar .setting-link.active {
    position: fixed;
    top: 611px;
    left: 41px;
    color: #000;
    background-color: #eeec67;
    padding-left: 17px;
    padding-right: 210px;
    padding-top: 7.75px;
    padding-bottom: 7.75px;
}

.sidebar .setting-link {
    color: #ffffff;
    padding-left: 15%;
    text-decoration: none;
    font-size: large;
}


/* NAVIGATION BAR */

.navbar-top {
    display: flex;
    background-color: #ffffff;
    height: 60px;
}

.navbar-topleft {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0064a4;
    width: fit-content;
    height: 60px;
    border-bottom: outset;
    position: fixed;
}

.ics_logo {
    width: 300px;
    height: 30px;
    margin: 10px;
}

.navbar-topright {
    width: 100%;
    height: 60px;
    padding: 15px 15px;
    border-bottom: inset;
    display: inline-block;
    right: 0px;
    position: fixed;
    /* background-color: #ffffff; */
    /* margin-left: auto; */
}

.navbar_search {
    position: fixed;
    left: 80%;
    padding: 5px 5px;
}


/* SIDEBAR2 */

.sidebar2 {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 80%;
    width: 25%;
    background-color: #f6f9fa;
}

.previewbutton {
    background-color: #ffffff;
    color: #0064A4;
    cursor: pointer;
    padding: 13px;
    width: 35%;
    border: outset #0064A4;
    text-align: left;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
}

.savebutton {
    background-color: #0064A4;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    width: 35%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
}


/* MAIN BODY */

.main-body {
    margin-left: 28%;
    margin-top: 15px;
    margin-right: 22%;
}

.collapsible {
    background-color: #edf5fa;
    color: #1a609e;
    cursor: pointer;
    /* padding-top: 18px;
    padding-bottom: 18px; */
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 700;
}

.replacebutton {
    background-color: #f6f9fa;
    color: #0064A4;
    cursor: pointer;
    padding: 0px;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #e8f3f8;
}

.content {
    padding: 18px;
    display: active;
    overflow: hidden;
    background-color: #edf5fa;
}


/* project description */

.form-control {
    height: 125px;
}


/*else*/
.createproject-course-dropdown {
    background-color: #e8f3f8;
    z-index: 12;
    padding: 18px;
    
}

/* PROJECTS.HTML */

.addprojectbutton {
    position:absolute;
    right: 70px;
    background-color: #0064A4;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    /* width: 35%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
}

.projects-body-filters {
    font-size: 20px;
}

.projects-dropdown {
    padding-left: 50px;
}

.submitfilterbutton {
    position:absolute;
    right: 200px;
    background-color: #0064A4;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    /* width: 35%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
}

.dropdown {
    background-color: #e8f3f8;
    z-index: 12;
    padding: 18px;
}